body{
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.text{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  color:#212121;
}
.textdiv{
  padding-top: 14.5vh;
  padding-right:14vw;
  padding-left: 5vw;
}
.textdiv2{
  padding-top: 18vh;
  padding-right:14vw;
  padding-left: 5vw;
}
.p1imgdiv{
  padding-left: 14vw;
}
#sec1{
	
	height:100vh;
	background-size: cover;
	
}
.parallax-window1{
	min-height: 100vh;
	padding-bottom: 0;
    background: transparent;
}
#sec2{
	background-color: #ffffff;
	height:140vh;
	padding-top: 8vh;
}
#sec3{
  background-color: #2196F3;
  height:105vh;
  padding-top: 8vh;
}
#sec4{
  background-color: #ffffff;
  height:168vh;
  padding-top: 8vh;
}
.wtitle{
	font-family: 'Bungee', cursive;
	font-size: 80px;
}
.subtitle{
	font-family: 'Bungee', cursive;
	font-size: 50px;
	color:#0288D1;
}
.subtitle2{
  font-family: 'Bungee', cursive;
  font-size: 50px;

}
#dbtn{
	height:15vh;
	margin-top: 10vh;
}
#dbtn:hover{
	 cursor: pointer; cursor: hand; 
}
#scrollbtn{
	background-color: transparent;
	border:none;

}
#scrollbtn:focus {
  outline: none;
}
.overlay{
	height: 100vh;
	width:100%;
	padding-top: 10vh;
	background-color:rgba(33,150,243,0.7);
	/*--background-color: #2196F3;--*/
}
.blink_me {
  animation: blinker 2s linear infinite;
}
a{
  color:#212121;
}
@keyframes blinker {  
  50% { opacity: 0.5; }
}
.p1img{
  height:40vh;
  margin-top: 12vh;
}
.p2img{
  height:38vh;
  margin-top: 12vh;
}
.mmdiv{
  padding-left: 8vh;
  padding-right: 8vh;
}
.mdivs{
  height:38vh;
}
.m1img{
  height:28vh;
  margin-top: 9vh;
}
.ctrl{
  margin-top: 4.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.btn{
  margin-top: 3px;
    transition: background-color 0.5s ease;
}
.btn:hover{

  background-color: #2196F3;
}
.btn:focus{
  background-color: #2196F3;
  outline: 0;
}

.year{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  color:#212121;
}
table{
   font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
table thead tr td{
  font-family: 'Roboto Slab', serif;
}
#sources{
background-color: #2196F3;
  height:30vh;
  padding-top: 3.5vh;
}
/*.pmgd{
  height:60vh;
  background-size: cover;
  background-image: url(../img/p1.png);
}*/
.textsans{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color:#212121;
}


