body{
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.text{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  color:#212121;
}
.textdiv{
  padding-top: 14.5vh;
  padding-right:14vw;
  padding-left: 5vw;
}
.textdiv2{
  padding-top: 18vh;
  padding-right:14vw;
  padding-left: 5vw;
}
.p1imgdiv{
  padding-left: 14vw;
}
#sec1{
	
	height:100vh;
	background-size: cover;
	
}
.parallax-window1{
	min-height: 100vh;
	padding-bottom: 0;
    background: transparent;
}
#sec2{
	background-color: #ffffff;
	height:140vh;
	padding-top: 8vh;
}
#sec3{
  background-color: #2196F3;
  height:140vh;
  padding-top: 8vh;
}
.wtitle{
	font-family: 'Bungee', cursive;
	font-size: 80px;
}
.subtitle{
	font-family: 'Bungee', cursive;
	font-size: 50px;
	color:#0288D1;
}
#dbtn{
	height:15vh;
	margin-top: 10vh;
}
#dbtn:hover{
	 cursor: pointer; cursor: hand; 
}
#scrollbtn{
	background-color: transparent;
	border:none;

}
#scrollbtn:focus {
  outline: none;
}
.overlay{
	height: 100vh;
	width:100%;
	padding-top: 10vh;
	background-color:rgba(33,150,243,0.7);
	/*--background-color: #2196F3;--*/
}
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.5; }
}
.p1img{
  height:40vh;
  margin-top: 12vh;
}
.p2img{
  height:38vh;
  margin-top: 12vh;
}
/*.pmgd{
  height:60vh;
  background-size: cover;
  background-image: url(../img/p1.png);
}*/



@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

*, *::after, *::before {
  box-sizing: border-box;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: red;
}

.flat::-moz-progress-bar {
  background-color: red;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, red);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, green, red);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, green, red);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}